<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Invoices</h3>

      <table mat-table [dataSource]="LicenseGroupsData" *ngIf="LicenseGroupsData">
        <ng-container matColumnDef="LicenseGroupId">
          <th mat-header-cell *matHeaderCellDef> License Group Id </th>
          <td mat-cell *matCellDef="let info">{{info.licenseGroupId}}</td>
        </ng-container>

        <ng-container matColumnDef="AccountId">
          <th mat-header-cell *matHeaderCellDef> Account Id </th>
          <td mat-cell *matCellDef="let info">{{info.accountId}}</td>
        </ng-container>

        <ng-container matColumnDef="InvoiceId">
          <th mat-header-cell *matHeaderCellDef> Invoice Id </th>
          <td mat-cell *matCellDef="let info">{{info.invoiceId}}</td>
        </ng-container>

        <ng-container matColumnDef="ProductId">
          <th mat-header-cell *matHeaderCellDef> Product Id </th>
          <td mat-cell *matCellDef="let info">{{info.productId}}</td>
        </ng-container>

        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let info">{{info.quantity}}</td>
        </ng-container>

        <ng-container matColumnDef="Duration">
          <th mat-header-cell *matHeaderCellDef> Duration </th>
          <td mat-cell *matCellDef="let info">{{info.duration}}</td>
        </ng-container>

        <ng-container matColumnDef="StartDate">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let info">{{info.startDate}}</td>
        </ng-container>

        <ng-container matColumnDef="EndDate">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let info">{{info.endDate}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let info"><a routerLink="/account-setup/license-groups/edit/{{info.licenseGroupId}}">Edit</a> <a routerLink="/account-setup/license-groups/delete/{{info.licenseGroupId}}">Delete</a></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rowinfo; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
