<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Are you sure you wish to delete this Role?</h3>
      <div class="info">
        <p>Role ID: {{role['licenseGroupId']}}</p>
        <p>Name: {{role['name']}}</p>
        <p>Context: {{role['context']}}</p>
        <p>CreatedDate: {{role['createdDate']}}</p>
        <p>Updated Date: {{role['updatedDate']}}</p>
      </div>
      <form class="edit-entity-form">
        <button mat-button (click)="deleteRole()">Delete Role</button>
      </form>

    </div>
  </div>
</div>
