<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Are you sure you wish to delete this License Entity Allocation?</h3>
      <div class="info">
        <p>License Group ID: {{licenseEntityAllocation['licenseGroupId']}}</p>
        <p>Account Entity ID: {{licenseEntityAllocation['accountEntityId']}}</p>
        <p>Quantity: {{licenseEntityAllocation['quantity']}}</p>
      </div>
      <form class="edit-entity-form">
        <button mat-button (click)="deleteLicenseEntityAllocation()">Delete License Entity Allocation</button>
      </form>

    </div>
  </div>
</div>
