<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Create Account</h3>

      <form class="create-invoice-form">

        <mat-form-field *ngIf="accounts">
          <mat-label>Choose an Account:</mat-label>
          <mat-select [(value)]="selectedAccount" [formControl]="accountId">
            <mat-option *ngFor="let account of accounts" [value]="account.accountId" (click)="setAccount(account.accountId)">
              {{account.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field>
            <label>
              <input matInput placeholder="Sale Amount" value="" required [formControl]="saleAmount">
            </label>
            <mat-error *ngIf="saleAmount.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Contract Date</mat-label>
            <input [value]="contractDate.value" matInput [matDatepicker]="picker" placeholder="contractDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <label>
              <input matInput placeholder="Sales Lead Id" value="" required [formControl]="salesLeadId">
            </label>
          </mat-form-field>


        <button mat-button (click)="createInvoice()">Submit</button>
      </form>

    </div>
  </div>
</div>
