<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Edit Invoice</h3>

      <form class="edit-entity-form">
        <div class="row">
          <mat-form-field *ngIf="accounts">
            <mat-label>Choose an Account:</mat-label>
            <mat-select [(value)]="invoice['accountId']" [formControl]="accountId" [(ngModel)]="invoice['accountId']">
              <mat-option *ngFor="let account of accounts" [value]="account.accountId" (click)="setAccount(account.accountId)">
                {{account.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <label>
              <input matInput placeholder="Sale Amount" value="{{invoice['saleAmount']}}" [formControl]="saleAmount">
            </label>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Contract Date</mat-label>
            <input [value]="date" matInput [matDatepicker]="picker" placeholder="Contract Date"  [formControl]="contractDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="date"></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <label>
              <input matInput placeholder="Sales Lead Id" value="{{invoice['salesLeadId']}}" [formControl]="salesLeadId">
            </label>
          </mat-form-field>
        </div>
        <button mat-button (click)="editInvoice()">Submit</button>
      </form>

    </div>
  </div>
</div>
