<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Create License Consumer Group (Classroom)</h3>

      <form class="create-account-form">
        <div class="row">
          <mat-form-field>
            <label>
              <input matInput placeholder="Name" value="" [formControl]="name">
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input matInput placeholder="License Entity Allocation ID" value="" required [formControl]="licenseEntityAllocationId">
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input matInput placeholder="Account Entity ID" value="" [formControl]="accountEntityId">
            </label>
          </mat-form-field>
        </div>

        <button mat-button (click)="createLicenseConsumerGroup()">Submit</button>
      </form>

    </div>
  </div>
</div>
