<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
       <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Edit AccountEntity</h3>

      <form class="edit-entity-form" *ngIf="!accountEntityLoading">
        <mat-form-field *ngIf="accounts">
          <mat-label>Choose an Account:</mat-label>
          <mat-select [(value)]="selectedAccount" [formControl]="accountId" [(ngModel)]="accountEntity['accountId']">
            <mat-option *ngFor="let account of accounts" [value]="account.accountId" (click)="setAccount(account.accountId)">
              {{account.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="entities">
          <mat-label>Choose an Entity</mat-label>
          <mat-select [(value)]="selectedEntity" [formControl]="entityId" [(ngModel)]="accountEntity['entityId']">
            <mat-option *ngFor="let entity of entities" [value]="entity.entityId" (click)="setEntity(entity.entityId)">
              {{entity.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button (click)="editAccountEntity()">Submit</button>

      </form>

    </div>
  </div>
</div>
