<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Are you sure you wish to delete this AccountEntity?</h3>
      <div class="info">
        <p>AccountEntity ID: {{accountEntity['accountEntityId']}}</p>
        <p>Account ID: {{accountEntity['accountId']}}</p>
        <p>Entity ID: {{accountEntity['entityId']}}</p>
      </div>
      <form class="edit-entity-form">
        <button mat-button (click)="deleteAccountEntity()">Delete Entity</button>
      </form>

    </div>
  </div>
</div>
