<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">License Group Entity Allocations</h3>

      <table mat-table [dataSource]="AllocationsData" *ngIf="AllocationsData">
        <ng-container matColumnDef="LicenseEntityAllocationId">
          <th mat-header-cell *matHeaderCellDef> License Entity Allocation ID </th>
          <td mat-cell *matCellDef="let info">{{info.licenseEntityAllocationId}}</td>
        </ng-container>

        <ng-container matColumnDef="LicenseGroupId">
          <th mat-header-cell *matHeaderCellDef> License Group ID </th>
          <td mat-cell *matCellDef="let info">{{info.licenseGroupId}}</td>
        </ng-container>

        <ng-container matColumnDef="AccountEntityId">
          <th mat-header-cell *matHeaderCellDef> Account Entity ID </th>
          <td mat-cell *matCellDef="let info">{{info.accountEntityId}}</td>
        </ng-container>

        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let info">{{info.quantity}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let info"><a routerLink="/account-setup/license-entity-allocations/edit/{{info.licenseEntityAllocationId}}">Edit</a> <a routerLink="/account-setup/license-entity-allocations/delete/{{info.licenseEntityAllocationId}}">Delete</a></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rowinfo; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
