<ul>
  <li><a routerLink="/account-setup">Account Setup</a></li>
  <ul>
    <li><a routerLink="/account-setup/entity-types/create" routerLinkActive="active">Create EntityType</a></li>
    <li><a routerLink="/account-setup/entity-types/view" routerLinkActive="active">View/Edit EntityTypes</a></li>
    <li><a routerLink="/account-setup/entities/create" routerLinkActive="active">Create Entity</a></li>
    <li><a routerLink="/account-setup/entities/view" routerLinkActive="active">View/Edit Entities</a></li>
    <li><a routerLink="/account-setup/accounts/create" routerLinkActive="active">Create Account</a></li>
    <li><a routerLink="/account-setup/accounts/view" routerLinkActive="active">View/Edit Accounts</a></li>
    <li><a routerLink="/account-setup/account-entities/create" routerLinkActive="active">Create AccountEntity</a></li>
    <li><a routerLink="/account-setup/account-entities/view" routerLinkActive="active">View/Edit AccountEntities</a></li>
    <li><a routerLink="/account-setup/invoices/create" routerLinkActive="active">Create Invoice</a></li>
    <li><a routerLink="/account-setup/invoices/view" routerLinkActive="active">View/Edit Invoices</a></li>
    <li><a routerLink="/account-setup/license-groups/create" routerLinkActive="active">Create License Group</a></li>
    <li><a routerLink="/account-setup/license-groups/view" routerLinkActive="active">View/Edit License Groups</a></li>
    <li><a routerLink="/account-setup/license-entity-allocations/create" routerLinkActive="active">Create License Entity Allocation</a></li>
    <li><a routerLink="/account-setup/license-entity-allocations/view" routerLinkActive="active">View/Edit License Entity Allocations</a></li>
    <li><a routerLink="/account-setup/license-consumer-groups/create" routerLinkActive="active">Create License Consumer Group (Classroom)</a></li>
    <li><a routerLink="/account-setup/license-consumer-groups/view" routerLinkActive="active">View License Consumer Groups (Classrooms)</a></li>
    <li><a routerLink="/account-setup/roles/create" routerLinkActive="active">Create Role</a></li>
    <li><a routerLink="/account-setup/roles/view" routerLinkActive="active">View/Edit Roles</a></li>
    <li><a routerLink="/account-setup/user-roles/create" routerLinkActive="active">Create User Role</a></li>
    <li><a routerLink="/account-setup/account-entity-users/create" routerLinkActive="active">Create Account Entity User</a></li>
  </ul>
</ul>


