<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Invoices</h3>

      <table mat-table [dataSource]="InvoicesData" *ngIf="InvoicesData">
        <ng-container matColumnDef="InvoiceId">
          <th mat-header-cell *matHeaderCellDef> Invoice Id </th>
          <td mat-cell *matCellDef="let info">{{info.invoiceId}}</td>
        </ng-container>

        <ng-container matColumnDef="AccountId">
          <th mat-header-cell *matHeaderCellDef> Account Id </th>
          <td mat-cell *matCellDef="let info">{{info.accountId}}</td>
        </ng-container>

        <ng-container matColumnDef="SaleAmount">
          <th mat-header-cell *matHeaderCellDef> Sale Amount </th>
          <td mat-cell *matCellDef="let info">{{info.saleAmount}}</td>
        </ng-container>

        <ng-container matColumnDef="ContractDate">
          <th mat-header-cell *matHeaderCellDef> Contract Date </th>
          <td mat-cell *matCellDef="let info">{{info.contractDate}}</td>
        </ng-container>

        <ng-container matColumnDef="SalesLeadId">
          <th mat-header-cell *matHeaderCellDef> Sales Lead Id </th>
          <td mat-cell *matCellDef="let info">{{info.salesLeadId}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let info"><a routerLink="/account-setup/invoices/edit/{{info.invoiceId}}">Edit</a> <a routerLink="/account-setup/invoices/delete/{{info.invoiceId}}">Delete</a></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rowinfo; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
