<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Are you sure you wish to delete this entity type?</h3>
      <div class="info">
        <p>Entity Name: {{entityType['name']}}</p>
        <p>Entity ID: {{id}}</p>
      </div>
      <form class="edit-entity-form">
        <button mat-button (click)="deleteEntityType()">Delete Entity Type</button>
      </form>

    </div>
  </div>
</div>
