<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Entities</h3>

      <table mat-table [dataSource]="EntitiesData" *ngIf="EntitiesData">
        <ng-container matColumnDef="EntityId">
          <th mat-header-cell *matHeaderCellDef> EntityId </th>
          <td mat-cell *matCellDef="let info">{{info.entityId}}</td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let info">{{info.name}}</td>
        </ng-container>

        <ng-container matColumnDef="ParentEntityId">
          <th mat-header-cell *matHeaderCellDef> ParentEntityId </th>
          <td mat-cell *matCellDef="let info">{{info.parentEntityId}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let info"><a routerLink="/account-setup/entities/edit/{{info.entityId}}">Edit</a> <a routerLink="/account-setup/entities/delete/{{info.entityId}}">Delete</a></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rowinfo; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
