<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Are you sure you wish to delete this invoice?</h3>
      <div class="info">
        <p>Invoice Account ID: {{invoice['accountId']}}</p>
        <p>Invoice ID: {{invoice['invoiceId']}}</p>
        <p>Sale Amount: {{invoice['saleAmount']}}</p>
        <p>Contract Date: {{invoice['contractDate']}}</p>
        <p>Sales Lead ID: {{invoice['salesLeadId']}}</p>
      </div>
      <form class="edit-entity-form">
        <button mat-button (click)="deleteInvoice()">Delete Invoice</button>
      </form>

    </div>
  </div>
</div>
