<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
        <h3 class="main-heading">Create Entity Type</h3>

        <form class="create-account-form">
          <div class="row">
            <mat-form-field>
              <label>
                <input matInput placeholder="Entity Type" value="" required [formControl]="name">
              </label>
              <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <label>
                <input matInput placeholder="Entity Parent ID" value="" [formControl]="parentEntityTypeId">
              </label>
            </mat-form-field>
          </div>

          <button mat-button (click)="addEntityType()">Submit</button>
        </form>

    </div>
  </div>
</div>
