<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Edit License Entity Allocation</h3>

      <form class="edit-entity-form" *ngIf="licenseEntityAllocation">

        <mat-form-field>
          <label>
            <input matInput placeholder="License Group ID" value="{{licenseEntityAllocation['licenseGroupId']}}" required [formControl]="licenseGroupId">
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput placeholder="Account Entity ID" value="{{licenseEntityAllocation['accountEntityId']}}" [formControl]="accountEntityId">
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput placeholder="Quantity"  value="{{licenseEntityAllocation['quantity']}}" [formControl]="quantity">
          </label>
        </mat-form-field>

        <button mat-button (click)="editLicenseEntityAllocation()">Submit</button>

      </form>

    </div>
  </div>
</div>
