<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
        <h3 class="main-heading">Entity Types</h3>

        <table mat-table [dataSource]="EntityTypesData" *ngIf="EntityTypesData">
          <ng-container matColumnDef="EntityTypeId">
            <th mat-header-cell *matHeaderCellDef> EntityTypeId </th>
            <td mat-cell *matCellDef="let info">{{info.entityTypeId}}</td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let info">{{info.name}}</td>
          </ng-container>

          <ng-container matColumnDef="ParentEntityTypeId">
            <th mat-header-cell *matHeaderCellDef> ParentEntityTypeId </th>
            <td mat-cell *matCellDef="let info">{{info.parentEntityTypeId}}</td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let info"><a routerLink="/account-setup/entity-types/edit/{{info.entityTypeId}}">Edit</a> <a routerLink="/account-setup/entity-types/delete/{{info.entityTypeId}}">Delete</a></td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let rowinfo; columns: displayedColumns;"></tr>
        </table>

    </div>
  </div>
</div>
