<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">License Consumer Groups (Classrooms)</h3>

      <table mat-table [dataSource]="LicenseConsumerGroupsData" *ngIf="LicenseConsumerGroupsData">

        <ng-container matColumnDef="LicenseConsumerGroupId">
          <th mat-header-cell *matHeaderCellDef> License Consumer Group ID </th>
          <td mat-cell *matCellDef="let info">{{info.licenseConsumerGroupId}}</td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let info">{{info.name}}</td>
        </ng-container>

        <ng-container matColumnDef="LicenseEntityAllocationId">
          <th mat-header-cell *matHeaderCellDef> License Entity Allocation ID </th>
          <td mat-cell *matCellDef="let info">{{info.licenseEntityAllocationId}}</td>
        </ng-container>

        <ng-container matColumnDef="AccountEntityId">
          <th mat-header-cell *matHeaderCellDef> Account Entity ID </th>
          <td mat-cell *matCellDef="let info">{{info.accountEntityId}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let info"><a routerLink="/account-setup/license-groups/edit/{{info.licenseGroupId}}">Edit</a> <a routerLink="/account-setup/license-groups/delete/{{info.licenseGroupId}}">Delete</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rowinfo; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
