<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Accounts</h3>

      <table mat-table [dataSource]="AccountsData" *ngIf="AccountsData">
        <ng-container matColumnDef="AccountId">
          <th mat-header-cell *matHeaderCellDef> AccountId </th>
          <td mat-cell *matCellDef="let info">{{info.accountId}}</td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let info">{{info.name}}</td>
        </ng-container>

        <ng-container matColumnDef="VerticalId">
          <th mat-header-cell *matHeaderCellDef> VerticalId </th>
          <td mat-cell *matCellDef="let info">{{info.verticalId}}</td>
        </ng-container>

        <ng-container matColumnDef="EntityId">
          <th mat-header-cell *matHeaderCellDef> EntityId </th>
          <td mat-cell *matCellDef="let info">{{info.entityId}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let info"><a routerLink="/account-setup/accounts/edit/{{info.accountId}}">Edit</a> <a routerLink="/account-setup/accounts/delete/{{info.accountId}}">Delete</a></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rowinfo; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
