<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Edit License Group</h3>

      <form class="edit-entity-form">
        <div class="row">
          <mat-form-field *ngIf="accounts">
            <mat-label>Choose an Account:</mat-label>
            <mat-select [(value)]="selectedAccount" [formControl]="accountId" [(ngModel)]="licenseGroup['accountId']">
              <mat-option *ngFor="let account of accounts" [value]="account.accountId" (click)="accountChosen(account.accountId)">
                {{account.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="invoices">
            <mat-label>Choose an Invoice:</mat-label>
            <mat-select [(value)]="selectedInvoice" [formControl]="invoiceId" [(ngModel)]="licenseGroup['invoiceId']">
              <mat-option *ngFor="let invoice of invoices" [value]="invoice.invoiceId" (click)="setInvoice(invoice.invoiceId)">
                {{invoice.invoiceId}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <label>
              <input matInput placeholder="Product ID" value="{{licenseGroup['productId']}}" [formControl]="productId">
            </label>
          </mat-form-field>

          <mat-form-field>
            <label>
              <input matInput placeholder="Quantity" value="{{licenseGroup['quantity']}}" [formControl]="quantity">
            </label>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input [value]="dateStart" matInput [matDatepicker]="pickerStart" placeholder="Start Date" [formControl]="startDate">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>End Date</mat-label>
            <input [value]="dateEnd" matInput [matDatepicker]="pickerEnd" placeholder="End Date" [formControl]="endDate">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
        </div>
        <button mat-button (click)="editLicenseGroup()">Submit</button>
      </form>

    </div>
  </div>
</div>
