<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
        <h3 class="main-heading">Account Setup</h3>
        <mat-tab-group>
          <mat-tab label="Contacts"> Contacts </mat-tab>
          <mat-tab label="Administrators"> Administrators </mat-tab>
          <mat-tab label="Institutions"> Institutions </mat-tab>
          <mat-tab label="Data and Implementation"> Data and Implementation </mat-tab>
          <mat-tab label="Sales"> Sales </mat-tab>
          <mat-tab label="Training"> Training </mat-tab>
        </mat-tab-group>

    </div>
  </div>
</div>
