<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Roles</h3>

      <table mat-table [dataSource]="rolesData" *ngIf="rolesData">
        <ng-container matColumnDef="RoleId">
          <th mat-header-cell *matHeaderCellDef> Role ID </th>
          <td mat-cell *matCellDef="let info">{{info.roleId}}</td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let info">{{info.name}}</td>
        </ng-container>

        <ng-container matColumnDef="Context">
          <th mat-header-cell *matHeaderCellDef> Context </th>
          <td mat-cell *matCellDef="let info">{{info.context}}</td>
        </ng-container>

        <ng-container matColumnDef="CreatedDate">
          <th mat-header-cell *matHeaderCellDef> Created Date </th>
          <td mat-cell *matCellDef="let info">{{info.createdDate}}</td>
        </ng-container>

        <ng-container matColumnDef="UpdatedDate">
          <th mat-header-cell *matHeaderCellDef> Updated Date </th>
          <td mat-cell *matCellDef="let info">{{info.updatedDate}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let info"><a routerLink="/account-setup/roles/edit/{{info.roleId}}">Edit</a> <a routerLink="/account-setup/roles/delete/{{info.roleId}}">Delete</a></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rowinfo; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
