<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">AccountEntities</h3>

      <table mat-table [dataSource]="AccountEntitiesData" *ngIf="AccountEntitiesData">

        <ng-container matColumnDef="AccountEntityId">
          <th mat-header-cell *matHeaderCellDef> AccountEntityId </th>
          <td mat-cell *matCellDef="let info">{{info.accountEntityId}}</td>
        </ng-container>

        <ng-container matColumnDef="AccountId">
          <th mat-header-cell *matHeaderCellDef> AccountId </th>
          <td mat-cell *matCellDef="let info">{{info.accountId}}</td>
        </ng-container>

        <ng-container matColumnDef="EntityId">
          <th mat-header-cell *matHeaderCellDef> EntityId </th>
          <td mat-cell *matCellDef="let info">{{info.entityId}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let info"><a routerLink="/account-setup/account-entities/edit/{{info.accountEntityId}}">Edit</a> <a routerLink="/account-setup/account-entities/delete/{{info.accountEntityId}}">Delete</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rowinfo; columns: displayedColumns;"></tr>
      </table>
      {{ newData }}
    </div>
  </div>
</div>
