<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Edit Role</h3>

      <form class="edit-entity-form">
        <div class="row">
          <mat-form-field>
            <label>
              <input matInput value="{{ role['name'] }}" placeholder="Name" [formControl]="name">
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input matInput value="{{ role['context'] }}" placeholder="Context" [formControl]="context">
            </label>
          </mat-form-field>
        </div>
        <button mat-button (click)="editRole()">Submit</button>
      </form>

    </div>
  </div>
</div>
