@import variables
@import "../node_modules/bootstrap/dist/css/bootstrap.min"

body
    font-family: $font-stack
    font-size: $font-size
    color: $primary-color
    box-sizing: border-box
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    margin: 0

h1, h2, h3, h4, h5, h6
    margin: 8px 0

p
    margin: 0
.heading-bar
  display: flex
  align-items: center
  background-color: $primary-color
  color: #fff
  font-weight: 600
  margin: 0
  padding: 20px 40px
  line-height: 1

h2.page-title
  padding: 20px 40px

.content
  display: flex
  max-width: 100%
  flex-direction: column
  align-items: left
  padding: 20px 40px

a
  color: #1976d2
  text-decoration: none
  cursor: pointer

  &:visited
    color: #1976d2
    text-decoration: none

  &:hover
    color: #1976d2
    text-decoration: none
    color: #125699

a.active
  font-weight: bold

.row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 100%


.column
  display: flex
  flex-direction: column
  flex-basis: 100%
  flex: 1


select, textarea, input[type=textfield]
  padding: 15px
  font-size: 16px
  width: 200px

.subheading
  font-size: 14px
  padding: 20px 0
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow

  h2.page-title
    padding: 0 40px
    margin: 5px 0 0 0

.subpage-wrapper .content-wrapper
  display: flex
  align-items: flex-start
  margin-top: 8px

  .left-sidebar
    width: 20%
    background-color: #dedede
    padding: 20px
    min-height: 500px
    border-right: 1px solid #fff

    ul
      list-style-type: none
      margin: 0
      padding: 0

      li
        font-size: 14px
        padding: 5px 0
      ul
        margin-left: 20px
  .right-content
    width: 80%
    padding: 0
    align-items: flex-start

    h3.main-heading
      font-size: 16px
      color: #666
      margin: 0
      padding: 10px 10px
      background-color: #fff
      -webkit-box-shadow: $secondary-box-shadow
      -moz-box-shadow: $secondary-box-shadow
      box-shadow: $secondary-box-shadow

    .mat-tab-group
      margin: 40px

      .mat-tab-label
        background-color: #fff
        opacity: 1
      .mat-tab-body-wrapper
        background-color: #fff
        padding: 40px
        font-size: 16px

.create-account-form,
.create-account-entity-form,
.edit-entity-form,
.create-invoice-form,
.create-role-form
  margin: 20px 40px
  .mat-form-field
    margin-right: 15px
  button
    border: 1px solid #999 !important
    margin: 40px 0px 0px 0px !important
.mat-column-Actions a
  margin-right: 10px
.info
  margin: 20px

.create-license-group-form
  margin: 20px 40px
  .mat-form-field
    margin-right: 15px
    display: block !important
  button
    border: 1px solid #999 !important
    margin: 40px 0px 0px 0px !important

.subpage-wrapper .mat-table
  margin: 20px !important
  th
    padding-left: 20px !important
    padding-right: 20px !important
  td
    padding-left: 20px !important
    padding-right: 20px !important
