<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
      <div class="left-sidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div role="main" class="right-content">
        <h3 class="main-heading">Create Account</h3>

        <form class="create-account-form">
          <div class="row">
            <mat-form-field>
              <label>
                <input matInput placeholder="Account Name" value="" required [formControl]="name">
              </label>
              <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <button mat-button (click)="addAccount()">Submit</button>
        </form>

      </div>
  </div>
</div>
