<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
        <h3 class="main-heading">Edit Entity Type</h3>

        <form class="edit-entity-form">
          <div class="row">
            <mat-form-field>
              <label>
                <input matInput placeholder="Name" value="{{entityType['name']}}" [formControl]="name">
              </label>
              <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <label>
                <input matInput placeholder="Entity Parent ID" value="{{entityType['parentEntityTypeId']}}" [formControl]="parentEntityTypeId">
              </label>
            </mat-form-field>
          </div>
          <button mat-button (click)="editEntityType()">Submit</button>
        </form>

    </div>
  </div>
</div>
