<div class="subpage-wrapper">
  <div class="subheading" role="heading">
    <div class="row">
      <h2 class="page-title">{{ PageTitle }}</h2>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="left-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div role="main" class="right-content">
      <h3 class="main-heading">Are you sure you wish to delete this License Group?</h3>
      <div class="info">
        <p>License Group ID: {{licenseGroup['licenseGroupId']}}</p>
        <p>Invoice ID: {{licenseGroup['invoiceId']}}</p>
        <p>Account ID: {{licenseGroup['accountId']}}</p>
        <p>Product ID: {{licenseGroup['productId']}}</p>
        <p>Quantity: {{licenseGroup['quantity']}}</p>
        <p>Duration: {{licenseGroup['duration']}}</p>
        <p>Start Date: {{licenseGroup['startDate']}}</p>
        <p>End Date: {{licenseGroup['endDate']}}</p>
      </div>
      <form class="edit-entity-form">
        <button mat-button (click)="deleteLicenseGroup()">Delete License Group</button>
      </form>

    </div>
  </div>
</div>
